
.Footer {
    padding: 88px 97px;
    background-color: var(--bg-black-middle);

    @media (max-width: 900px) {
            padding: 60px 50px;
        }

    @media (max-width: 375px) {
        padding: 40px 24px;
    }
}

.container {
    @media (max-width: 900px){
        display: flex;
        justify-content: space-between;
    }

}
.logo {
    position: relative;
    display: flex;
    justify-content: center;
    &::before {
            content: '';
            position: absolute;
           top: -25px;
            width: 100%;
            height: 3px;
            background-color: #818181;
        }
}

