.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.modalContentWrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 42px); 
    max-height:100vh ;
    background: white;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-shrink: 0;
    
}

.logoButton,
.closeButton {
    padding: 0.5rem;
    background: transparent;

    &:hover {
        background: #f5f5f5;
    }
}

.modalBody {
    flex: 1; 
    overflow-y: auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.navigation {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.socialLinks {
    display: flex;
    flex-direction: column;

    & a {
        text-decoration: none;
        color:#606060;
        font-size: 40;
        font-weight: 600;
    }
    
}

.icons {
    max-width: 216px;
    
}

.buttonWrapper {
    flex-shrink: 0; 
    padding: 1.5rem;
    padding-bottom: calc(1.5rem + env(safe-area-inset-bottom, 0));
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.connectButton {
    width: 100%;

}


@media (max-height: 600px) {
    .modalBody {
        padding: 1rem;
    }

    .buttonWrapper {
        padding: 1rem;
    }
}