.header {
    position: fixed;
    z-index: 10;
        width: 100%;
    background-color: white;

    &.scrolled {
    border-radius: 0 0 30px 30px;
    border-bottom: 1px solid #e2e8f0;
    transition: border-bottom 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    }
   
    @media (min-width: 768px) {
        padding: 24px 0;
    }
}
.container {
    padding-inline:  97px;

        @media (max-width: 900px) {
            padding-inline:  50px;
        }
    
        @media (max-width: 375px) {
            padding-inline: 24px;
        }
}
.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    & a {
          color:#606060;
          text-decoration: none;
         
        }
}

.headerContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 66px;
   
   
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-blue);

    @media (min-width: 768px) {
        font-size: 28px;
    }
}

.walletButton {
   margin-left: auto;
}