.hero {
    padding: 80px 0;
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 40px;
    padding-top: 88px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;

    
}

// Левая часть стили (без анимаций)
.leftSection {
    max-width: 600px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 195px; 
        height: 2px; 
        background-color: #201F1F;
        opacity: 0.2;
    }

    @media (max-width: 1024px) {
        text-align: center;
        max-width: 100%;
    }
}

.badge {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    margin-bottom: 24px;
}

.badgeText {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 24px;
   
}

.description {
    font-size: 1.125rem;
    line-height: 1.6;
    color: var(--gray-light);
    margin-bottom: 32px;
}

.highlight {
    color: var(--black);
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
    flex-wrap: wrap;

   
}


.stats {
    display: flex;
    gap: 48px;

    @media (max-width: 1024px) {
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    }
}

.statValue {
    font-size: 2rem;
    font-weight: 700;
    color: var(--bg-black-middle);
    margin-bottom: 4px;
    transition: all 0.3s ease;
}

.statLabel {
    font-size: 0.875rem;
    color: #94a3b8;
}

.rightSection {
    position: relative;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 1024px) {
        justify-content: center;
    }
}

.imageContainer {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    max-width: 600px;
    width: 100%;

}

.nftImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 24px;
}

.arrowContainer {
    position: absolute;
    top: 30px;
    right: 130px;
    width: 128px;
    height: 124px;
    z-index: 10;
}
.arrow {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


   

