.hero {
    padding: 80px 0;
    overflow: hidden;
    position: relative;
}

.container {
    // max-width: 1400px;
    margin: 0 auto;
    padding-inline: 97px;
    padding-top: 88px;
    display: grid;
    grid-template-columns: 1fr 540px;
    gap: 60px;
    align-items: center;
       
    @media (max-width: 900px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            gap: 40px;
            padding-inline: 50px;
        }
    
        @media (max-width: 375px) {
            padding-inline: 24px;
            gap: 32px;
        }
        

    
}

// Левая часть стили (без анимаций)
.leftSection {
    min-width: 400px;
    max-width: 500px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 195px; 
        height: 2px; 
        background-color: #201F1F;
        opacity: 0.2;
    }
         @media (max-width:900) {
            min-width: 300px;
         }
}

.badge {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    margin-bottom: 24px;
}

.badgeText {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 24px;
   
    @media (max-width:1024) {
        font-size: 3.37rem;
    }

    @media (max-width:900) {
        font-size: 3rem;
    }

    @media (max-width:400) {
        text-align: center;
    }
   
}

.description {
    font-size: 1.125rem;
    line-height: 1.6;
    color: var(--gray-light);
    margin-bottom: 32px;
    
    @media (max-width:1024) {
            font-size: 0.81rem;
        }
    @media (max-width:400) {
        text-align: center;
    }
}

.highlight {
    color: var(--black);
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
    flex-wrap: wrap;

   
}


.stats {
    display: flex;
    gap: 48px;

    @media (max-width: 1024px) {
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    }
}

.statValue {
    font-size: 2rem;
    font-weight: 700;
    color: var(--bg-black-middle);
    margin-bottom: 4px;
    transition: all 0.3s ease;
}

.statLabel {
    font-size: 0.875rem;
    color: #94a3b8;
}

.rightSection {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.imageContainer {
    position: relative;

    overflow: hidden;
  
    height: 100%;
    @media (max-width:900) {
        min-width: 400px;
    }

}

.nftImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 24px;
}

.arrowContainer {
    position: absolute;
    top: 30px;
    right: 130px;
    width: 128px;
    height: 124px;
    z-index: 0;
    @media (max-width:900) {
        min-width: 600px;
        top:10%;
        left:20vw;
    }
    @media (max-width:750) {
            left:100;

        }
    @media (max-width:650) {
        left:50;
        width: 100px;
        height: 100px;
    }
 @media (max-width:600) {
     left:0;
     width: 80px;
     height:80px;
 }
 @media (max-width:550) {
     left:-50;
     width: 70px;
     height:70px;
 }
}
.arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}


   

