
.top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
   


    &::before {
        content: '';
        position: absolute;
        bottom:-25px;  
        width: 100%;
        height: 3px;
        background-color: #818181; 
    }
   
}
.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    & a {
            color: #b9b9b9;
            text-decoration: none;
    }
}