// src/app/components/WeeklyTopNFT/NFTCard.module.scss
.card {
    position: relative;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: var(--card-shadow);
    max-width: 281px;
    transition: all 0.3s ease;
    padding: 14px;
}

.imageContainer {
    height: 253px;
    width:253px
}
.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imagePlaceholder {
    color: #94a3b8;
    font-size: 16px;
}

.cardContent {
    padding: 20px 0;
}

.nftName {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--text-dark);
}

.details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bidInfo,
.timeInfo {
    text-align: left;
}
.timeInfo {
    position:absolute;
    z-index: 10;
    top:25px;
    right: 25px;
    display: inline-block;
    background-color: var(--black);
    color: white;
    border-radius: 10px;
    opacity: 0.35;
    
    & .value {
        font-size: 14px;
        font-weight: 600;
        padding: 10px 14px;
    }
}
.label {
    font-size: 14px;
    color: var(--text-dark);
    margin-bottom: 4px;
}

.value {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-dark);
}

.button {
    padding:15px 25px; 
}