.socialContainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.imageWrapper {
    position: relative;
    width: 24px;
    height: 24px;
}

.image {
    object-fit: contain;
}