.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width:900px) {
        align-items: baseline;
    }
}

.menuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.iconsMobile {
    @media (max-width:900px) {
        padding-block: 15px;
        gap:20px;
        & a {
            & div {
                    width: 17px;
                    height: 17px;
                }
        }
       
    }
}
